* {
  box-sizing: border-box;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  background-attachment: fixed;
}

h1,
h2 {
  text-align: center;
}

h1 {
  color: #ddd;
}

#counter {
  margin: 3rem auto;
  max-width: 40rem;
  text-align: center;
}

#counter-output {
  font-size: 2rem;
  padding: 0.5rem 1.5rem;
  color: #fff;
  font-weight: 600;
}

#counter-btns {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

button {
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 4px;
  background-color: #8bbfff;
  color: #070312;
  font-size: 1.2rem;
  cursor: pointer;
}

button:hover {
  background-color: #a5ccfd;
}

#log {
  text-align: center;
  list-style: none;
  margin: 3rem 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

a {
  text-decoration: none;
  display: flex;
  width: fit-content;
  margin: 0.5rem;
}

::-webkit-scrollbar {
  height: 9px;
  width: 9px;
}
::-webkit-scrollbar-thumb {
  background: #a7a7a7;
  width: 9px;
}
::-webkit-scrollbar-track {
  background: transparent;
  width: 9px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.container {
  background-color: #232323;
  width: 35rem;
  height: 30rem;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .container {
    width: 90%;
  }
}
